body {
  flex: 1;
  display: flex;
  background-color: #f8f8ff;
  color: #111111;
  flex-direction: column;
}

.half-screen-container {
  flex: 1;
  display: flex;
  height: 49vh;
  overflow-x: auto;
}

.biggest-straight-line {
  width: 100%;
  border-top: 6px solid;
}

.card {
  margin: 48px 16px;
  width: 20vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
